@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #113132;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}